<h1><%= @board.name %></h1>
<div class="swimlane-container">
  <%= turbo_frame_tag "swimlanes" do %>
    <% @board.swimlanes.each do |swimlane| %>
      <div>
        <%= render partial: "swimlanes/show", locals: {swimlane: swimlane } %>
      </div>
    <% end %>
  <% end %>
  <div>
    <%= turbo_frame_tag "new_swimlane" do %>
      <%= render "swimlanes/new_button" %> 
    <% end %>
  </div>
</div>
