<div class="swimlane">
  <div class="swimlane__title">
    <h2 class="swimlane__title-text"><%= swimlane.name %></h2>
  </div>
  <div id=<%= swimlane_cards_id(swimlane) %> class="card-container" data-action="drop->draggable#drop">
    <% swimlane.cards.each do |card| %>
      <%= render partial: "cards/card", locals: { card: card } %>
    <% end %>
  </div>

  <div id=<%= new_card_id(swimlane) %> class="swimlane__add-card">
    <%= render partial: "swimlanes/add_card", locals: { swimlane: swimlane } %>
  </div>
</div>
