<span><%= swimlane.name %>
<ul>
  <%= turbo_frame_tag "swimlane_#{swimlane.id}_cards" do %>
    <% swimlane.cards.each do |card| %>
      <li><%= card.title %></li>
    <% end %>
  <% end %>
  
  <li>
    <%= turbo_frame_tag "swimlane_#{swimlane.id}_new_card" do %>
      <%= button_to "Add a card", new_swimlane_card_path(swimlane), method: :get %>
    <% end %>
  </li>
</ul>
