<span><%= swimlane.name %>
<ul>
  <%= turbo_frame_tag "swimlane_#{swimlane.id}_cards" do %>
    <% swimlane.cards.each do |card| %>
      <%= render partial: "cards/card", locals: { card: card } %>
    <% end %>
  <% end %>

  <li>
    <%= turbo_frame_tag "swimlane_#{swimlane.id}_new_card" do %>
      <%= render partial: "swimlanes/add_card", locals: { swimlane: swimlane } %>
    <% end %>
  </li>
</ul>
