<!DOCTYPE html>
<html>
  <head>
    <title>Krello</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= turbo_frame_tag "modal" %>
  </head>

  <div class="surface">
    <body>
      <div class="nav-container">
        <nav>
          <%= link_to "Krello", root_path %>
        </nav>
      </div>
      <div class="content-container">
        <%= yield %>
      </div>
    </body>
  </div>
</html>
